body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #9fd3a7;
}

.btn,
.btn-reset {
    margin: 20px;
    font-size: 24px;
    border-radius: 30px;
    color: aliceblue;
}

.btn {
    background-color: #0f1bc2;
}

.btn-reset {
    background-color: red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 1px solid #000;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}